.mainBox {
    width: 350px;
    height: 250px;
    box-shadow: 4px 6px rgba(0,0,0,0.1);
    margin: 150px auto;   /* centra el div horizontalmente con auto */
   padding: 20px;
  display: flex;
  flex-direction: column;   /* hijos en columna */
  align-items: center;      /* centrados */
  gap: 15px;                /* espacio entre elementos */
}
#title {
    text-align: center;
    color: rgb(58, 36, 36);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#taskInput, #bttnAddTask, #bttnDeleteTask, #bttnDeleteOneTask {
  width: 80%;         /* más elegantes que con coordenadas */
  padding: 10px;
}

.paragraph {
    text-align: center;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tasksAdded {
  margin: 150px auto;   /* centra el div horizontalmente con auto */
  width: 400px;
  margin: 30px auto;
  box-shadow: 4px 6px rgba(0.2, 46, 24, 0.2);
  padding: 20px;
  visibility: hidden;
}

#taskList li {
  display: flex;
  justify-content: space-between; /* texto a la izq, botón a la der */
  align-items: center;
  margin-bottom: 8px;
  background: #f0f0f0f6;
  padding: 8px;
  border-radius: 4px;
}

#taskList li span {
  flex: 1; /* ocupa todo el espacio disponible a la izquierda */
}


.deleteBtn:hover {
  background: darkred;
}

.checkedBtn:hover {
  background: rgb(63, 139, 0);
}

